{
    "name": "Rick and Morty GraphQL Schema",
    "schemaPath": "./api.schema.json",
    "extensions": {
        "endpoints": {
            "Rick and Morty GraphQL Endpoint": {
                "url": "https://rickandmortyapi.com/graphql",
                "headers": {
                    "user-agent": "JS GraphQL"
                },
                "introspect": false
            }
        }
    },
    "includes": [
        "./**/*.graphql",
    ]
}
